<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="target_object">

    <xacro:arg name="mesh_path" default="package://motomini/meshes/puzzel.stl" />
    <xacro:arg name="gravity_off" default="true" />
    <xacro:arg name="mesh_scale" default="0.001" />

    <link name="object_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="$(arg mesh_path)"
                    scale="$(arg mesh_scale) $(arg mesh_scale) $(arg mesh_scale)" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="$(arg mesh_path)"
                    scale="$(arg mesh_scale) $(arg mesh_scale) $(arg mesh_scale)" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001" />
        </inertial>
    </link>

    <gazebo reference="object_link">
        <turnGravityOff>$(arg gravity_off)</turnGravityOff>
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
    </gazebo>

    <gazebo>
        <plugin
            filename="ignition-gazebo-pose-publisher-system"
            name="ignition::gazebo::systems::PosePublisher">

            <publish_link_pose>false</publish_link_pose>
            <publish_visual_pose>false</publish_visual_pose>
            <publish_collision_pose>false</publish_collision_pose>

            <publish_model_pose>true</publish_model_pose>
            <publish_nested_model_pose>false</publish_nested_model_pose>

            <use_pose_vector_msg>false</use_pose_vector_msg>

            <update_frequency>30</update_frequency>
        </plugin>
    </gazebo>

</robot>